.title-input {
  margin-left: 0.8%;
  margin-right: 2%;
  margin-top: 7%;
}

.form-input {
  height: 100vh;
  margin: 1%;
  padding-bottom: 5%;
  width: 99%;
}

.publish-btn {
  float: right;
  font-size: 2rem;
  margin-top: 1%;
  width: 20%;
}

.body-input {
  textarea {
    font-size: 2rem;
    height: 400px;
    margin-right: 2%;
  }
}

// .description:hover {
//   box-shadow: 3px 3px 3px;
//   z-index: 1;
// }
