{
    "env": {
      "browser": true,
      "es6": true,
      "jest":true,
      "node":true
    },
    "plugins": [
      "react",
      "import"
    ],
    "parser": "babel-eslint",
    "extends": "airbnb",
    "parserOptions": {
      "sourceType": "module",
      "allowImportExportEverywhere": true,
      "codeFrame": true,
      "ecmaVersion":2015,
      "ecmaFeatures":{
        "jsx": true
      }
    },
    "rules": {
      'import/first': [ 'error', 'DISABLE-absolute-first' ],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "object-curly-newline": "off",
      "function-paren-newline":"off",
      "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
      "react/forbid-prop-types": [
        "error",
        {
          "forbid": [
            "any"
          ]
        }
      ]
    }
  }
